#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
    event_dashboard_config:
        first_day_of_billing_period: 14
        payment_methods:
            '': 'Choose payment method'
            manual: Manual
            automated: Automated
        twitter_bootstrap:
            glyphicons:
                states:
                    ok: glyphicon-ok-sign
                    passed: glyphicon-exclamation-sign
                    pending: glyphicon-time
                payment_methods:
                    manual: glyphicon-wrench
                    automated: glyphicon-flash
            list_group_items:
                ok: success
                passed: danger
                pending: warning


php:
    date.timezone: Europe/Prague
    # zlib.output_compression: yes


nette:
    application:
        errorPresenter: Error
        mapping:
            *: Sandra\*Module\Presenters\*Presenter
    container:
        debugger: true

    session:
        expiration: 14 days



services:
    eventModel: Sandra\Model\EventModel
    eventManager: Sandra\Services\EventManager
    emailManager: Sandra\Services\EmailManager(@nette.mailer)
    - Sandra\Model\UserManager
    - Sandra\RouterFactory
    router: @Sandra\RouterFactory::createRouter
