{* Latte template *}

{block content}


<h2 class="text-center">Současné období: {$startPeriod|date:'j.n.Y'} - {$endPeriod|date:'j.n.Y'}</h2>

{include progressBar.latte}

<div class="row list-group-item">
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-5">Co</div>
    <div class="col-md-4">Kdy</div>
</div>

{foreach $reports as $report}
    <div class="row list-group-item list-group-item-{$tb[list_group_items][$report[state]]}">
        <div class="col-md-1"><span n:class="glyphicon, $tb[glyphicons][states][$report[state]]"></span></div>
        <div class="col-md-1"><span n:class="glyphicon, $tb[glyphicons][payment_methods][$report[payment_method]]"></span></div>
        <div class="col-md-5"><strong>{$report[title]}</strong>
            <a href="{plink editEvent report_id => $report[id]}" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </div>
        <div class="col-md-4">{$report[date_of_payment]|date:'j.n.Y'} ({$report[date_of_payment]|timeAgeInWords})</div>
    </div>
{/foreach}
<p>
<div class="row">
    <a href="{plink createEvent}" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-plus"></span> Nová pravidelná platba
    </a>
    <a href="{plink showTrash}" class="btn btn-default btn-lg pull-right">
        <span class="glyphicon glyphicon-trash"></span> Odpaďák
    </a>
</div>
</p>

