{* Latte template *}

{block content}
<div class="jumbotron">
    <h1>Vítej</h1>
    <p>Jmenuju se <strong>Sandra</strong> a byla jsem naprogramována, abych pomáhala zapomětlivcům jako jsi Ty...</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>